.AboutContainer{
  margin: 0 1rem;
  animation: fadeInUp 0.5s ease-in-out;
}

.AboutText {
  margin: 0 1.5rem 2rem 1.5rem;
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media queries para tablet */
@media (min-width: 768px) {
  .AboutContainer{
    margin: 0 2rem;
  }
}

/* Media queries para desktop */
@media (min-width: 1024px) {}