.FormText{
  text-align: center;
  font-size: 16px;
}

.FormContainer {
  width: 90%;
  margin: 0 auto;
}

.separator{
  margin: 1.5rem 0 ;
}


.field{
  background: linear-gradient(to right, var(--color-four)30% , var(--color-seven) 70%);
  color: var(--color-second);

  border: 2px solid var(--color-third);
  border-radius: 8px;

  width: 100%;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
}

.field::placeholder {
  color: var(--color-light);
  font-size: 14px;
  opacity: 1;
}

.button {
  background: linear-gradient(to right, var(--color-second)30% , var(--color-first) 70%);
  color: #fcfcfc;
  color: var(--color-light);
  border: 2px solid var(--color-first);
  border-radius: 0.5rem;
  font-size: 18px;


  width: 100%;
  padding: 0.7rem 1.5rem;
  margin: 1rem 0 3rem 0;
  transition: all 0.3s ease-out;
}

.button:hover {
  background-color: #083359;
  color: var(--color-seven);
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 16px;
}

/* Media queries para tablet */
@media (min-width: 768px) {
  
}

/* Media queries para desktop */
@media (min-width: 1024px) {}