/* Layout */

.header {
  background-color: --color-principal;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  background-color: (--color-eight);
}

/* Profile Page */
.ProfileContainer{
  background: radial-gradient(circle, var(--color-five) 20%, var(--color-eight) 35%, var(--color-eight) 65%, var(--color-five) 85%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 96%; 
  margin: 1rem;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.ComponentContainer{
  width: 90%;
  padding: 2rem 1rem;
  border: solid 1px var(--color-dark);
  border-radius: 1rem;
  /* background-color: tomato; */
  margin: 1rem;
  animation: fadeInUp 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;
}

.ComponentContainer:hover{
  border: solid 1px var(--color-seven);
}


.Hidden {
  display: none;
}

.AboutTitle, .InterestText, .FormText {
  text-align: center;
  font-size: 16px;
}


/* Media queries para desktop */
@media (min-width: 767px) {
  .header {
    background-color: --color-principal;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main {
    display: flex;
    flex: 1;
  }
  
  .content {
    flex: 1;
    background-color: #f4f4f4;
  }

}

