/* Layout */

.header {
  background-color: --color-principal;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  background-color: #f4f4f4;
}

/* Profile Page */
.ProfileContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 80%; 
  margin: 1rem;
  /* background-color: teal; */
}

.ComponentContainer{
  /* padding: 2rem 1rem; */
  padding: 2rem 1rem;
  border: solid 1px #345;
  border-radius: 1rem;
  /* background-color: tomato; */
}

.AboutTitle, .InterestText, .FormText {
  text-align: center;
  font-size: 16px;
}


/* Media queries para desktop */
@media (min-width: 767px) {
  .header {
    background-color: --color-principal;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main {
    display: flex;
    flex: 1;
  }
  
  .content {
    flex: 1;
    background-color: #f4f4f4;
  }

  .ProfileContainer{
    flex-direction: row;

  }
}

