.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  background: linear-gradient(to left, var(--color-first)30% , var(--color-second) 90%);


  width: 100%;
  color: #ccc;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.logo {
  font-size: 1.5rem;
}

.profileName{
  font-weight: 400;
  font-size: 18px;
}

.picContainer{
  height: 3rem;
  width: 3rem;
}
.picture {
  border-radius: 50px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: fill;
}

  /* Media queries para tablet */
@media (min-width: 768px) {
  .navbar {
    height: 4rem;
  }

  .profileName{
    font-weight: 400;
    font-size: 24px;
  }
}

/* Media queries para desktop */
@media (min-width: 900px) {
  .navbar {
    height: 5rem;
  }

  .profileName{
    font-weight: 400;
    font-size: 30px;
  }
}