.example {
    background-color: var(--color-principal);
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(58, 82, 105);
    width: 100%;
    color: #ccc;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navLinks li {
    cursor: pointer;
  }
  
  .profile {
    font-size: 1rem;
    cursor: pointer;
  }